<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
	   html, body {
	    margin:0;
		  background:#333;
		  font-family:sans-serif;
			height:100%;
		}

		main {
			display:flex;
			flex-direction:column;
			align-items:center;
			justify-content:space-evenly;
			height:100vh;
			background:aqua;
		}
		nav {
				background:grey;
				display:flex;
				justify-content:space-evenly;
				flex-direction:column;
				align-items:center;
				flex-direction:row;
				height:10vh;
				width:70vw;
	  } .nav {
		  background:aqua;
		  padding:1%;
		  border-radius:1em;
		  margin:1%;
	  } 
	   a[href='/getNews'] {
			width:12em;
			text-align:center;
	  } article {
			height:5vh;
			background:#ccc;
			display:flex;
			justify-content:center;
			align-items:center;
			position:relative;
	} div {
			background:#aaa;
			width:82vw;
			text-align:center;
	} #place {
			background:lime;
	}
       </style>
    </head>
    <body>
<% let randomNumber = Math.floor(Math.random() * stories.articles.length) %>
<main id='main'>
		<span id='imageURL'><%= stories.articles[randomNumber].urlToImage %></span>
    <nav id='navigation'>
	  	<a class='nav' href='/index'>home</a>
	  	<a class='nav' href='/resume'>resume</a>
	  	<a class='nav' href='/bio'>bio</a>
	  	<a class='nav' href='/contact'>contact</a>
		</nav>

		<article id='getNewArticle'><a href='/getNews'>next news story</a></article>

		<div>
			<h2><%= stories.articles[randomNumber].title %></h2>
		</div>
	
		<div id='picDiv'></div>
	
		<div>
			<%= stories.articles[randomNumber].description %>
		</div>

		<div>
			<%= stories.articles[randomNumber].content %>
		</div>

		<div>
			<a href='<%=stories.articles[randomNumber].url %>'>Read Full Article</a>
		</div>

		<div id='plat'>

		</div>

</main>
    </body>
    <script>
			const picDiv = document.getElementById('picDiv');
			const imageURL = document.getElementById('imageURL');
			const main = document.getElementById('main');
			const plat = document.getElementById('plat');

			document.addEventListener('DOMContentLoaded', () => {
				let expression = new RegExp('arm');
				let iphoneExpression = new RegExp('iPhone');
				if (expression.test(navigator.platform) == false && iphoneExpression.test(navigator.platform) == false) {
					let imageTag = document.createElement('img');
					imageTag.setAttribute('src', imageURL.textContent);
					imageTag.setAttribute('width', '400');
					picDiv.appendChild(imageTag);
					imageURL.remove()
				} else {
					imageURL.remove()
				}
				
				// plat.innerText = navigator.platform;
			});


    </script>
</html>


